.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 50px 5fr;
    padding: 2rem;
    gap: 1em;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.headline-link {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.row-border {
    border-top: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    margin-top: 25px;
}