.nav-link {
    margin-right: 1rem;
}

.nav-collapse {
    display: flex;
    justify-content: space-between;
}

.search-buttons {
    display: flex;
}

.user-buttons {
    display: flex;
    gap: 10px;
    margin-left: 1rem;
}