.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 5%;
}

.to-login {
    display: flex;
    gap: 5px;
}

.create-button {
    margin-top: 1rem;
}