.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.to-login {
    display: flex;
    gap: 5px;
}